::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
     background: var(--header-bg);
}

::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: var(--primary-accent);
}