.custom-cursor {
     width: 40px;
     height: 40px;
     z-index: 9999;
     position: absolute;
     border-radius: 50%;
     pointer-events: none;
     transition-duration: 150ms;
     transform-origin: 100% 100%;
     border: 2px solid var(--primary-accent);
}

.custom-cursor.expand {
     transform: scale(2);
}


/* MEDIA QUERY FOR DEVICES THAT DON'T RESPOND TO HOVER AT ALL, DEVICES LIKE TOUCH SCREEN */
@media (hover: none) {
     .custom-cursor {
          display: none;
     }
}