.header {
     top: 0;
     left: 0;
	z-index: 10;
     width: 100%;
     display: flex;
     padding: 1% 5%;
     position: fixed;
     align-items: center;
     background: var(--header-bg);
     justify-content: space-between;
}


/* LOGO CONTAINER */
.header .logo-container {
     height: 50px;
}

.header .logo-container img {
     height: 100%;
}


/* MENU BUTTON */
.header .menu-btn-container {
     z-index: 3;
	width: 50px;
	height: 50px;
	display: flex;
     cursor: pointer;
	align-items: center;
	justify-content: flex-end;
}

.header .menu-btn-container .menu-btn {
	width: 30px;
	height: 3px;
	position: relative;
	transition: var(--transition);
	background: var(--primary-gradient);
}

.header .menu-btn-container .menu-btn::before {
	right: 0;
	top: -15px;
	width: 50px;
	height: 3px;
	content: '';
	position: absolute;
	transition: var(--transition);
	background: var(--primary-gradient);
}

.header .menu-btn-container .menu-btn::after {
	right: 0;
	width: 40px;
	height: 3px;
	content: '';
	bottom: -15px;
	position: absolute;
	transition: var(--transition);
	background: var(--primary-gradient);
}

.header .menu-btn-container:hover .menu-btn {
	width: 50px;
}

.header .menu-btn-container:hover .menu-btn::after {
	width: 50px;
}

/* MENU BUTTON CONTAINER ACTIVE */
.header .menu-btn-container.active .menu-btn {
	background: var(--primary-text);
	background: transparent;
}

.header .menu-btn-container.active .menu-btn::before {
	top: 0;
	background: var(--primary-text);
	transform: rotate(45deg);
}

.header .menu-btn-container.active .menu-btn::after {
	width: 50px;
	bottom: 0;
	background: var(--primary-text);
	transform: rotate(315deg);
}


/* NAV CONTAINER */
.nav-container {
	top: 0;
	width: 50%;
	right: -100%;
	display: grid;
	position: fixed;
	cursor: pointer;
	min-width: 400px;
	min-height: 100vh;
	place-content: center;
	transition: all .5s ease-in-out;
	background: var(--primary-gradient);
}

.nav-container.active {
	right: 0;
}

.nav-container .nav-list {
	list-style: none;
	color: #6d6706
}

.nav-container .nav-list .nav-item {
	margin-bottom: 50px;
}

.nav-container .nav-list .nav-item a {
	padding: 15px;
	font-size: 5vw;
	font-weight: 600;
	position: relative;
	letter-spacing: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--primary-text);
	transition: var(--transition)
}

.nav-container .nav-list .nav-item a::before {
	bottom: 0;
	left: -20px;
	content: '';
	width: 40px;
	height: 10%;
	position: absolute;
	transition: var(--transition);
	background: var(--primary-text);
}

.nav-container .nav-list .nav-item a:hover::before {
	width: 110%;
}
