
<div class="background-image">
    <div class="overlay">
<div class="container">

    <div class="container header center ">
        <h4>WAITERS AVAILABILITY APP</h4>
        <h1 class="center">Okuhle's Food Bar</h1>
        <p>Welcome to Okuhle's Food Bar Availability App. WE thrive ourselves in flexibility and inclusion. Who woul not want to work o days of their choice? Yeap! That's right! So we give our employees the right to pick the days they would like to work in and a chance to sort their life. Less conflict. More progress.</p>
    </div>

    <div class="container tags">
        <div class="tag col-4-sm justify">
            <h4>Identify Yourself</h4>
            <p>In order to book yourself for the week. Enter Your Name In The Url eg. waiters/name, so that you can select the days you will be able to in.</p>
        </div>
        <div class="tag col-4-sm middlem justify">
            <h4>Pick Availability</h4>
            <p>Select 3 Days To Work On And Submit. Select a minimm of 3 days that you can work on. Then submit your days and get ready for your work days.</p>
        </div>
        <div class="tag  col-4-sm  justify">
            <h4>Enjoy Flexibility</h4>
            <p>In as much as our rsturant is about making profits & providing servic. We value our employees and we want to be as flexi as possible.</p>
        </div>
    </div>
       
    </div>
</div>
    </div>


<script>
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
</script>